@page
@model LogoutModel
@{
    ViewData["Title"] = "Выйти из учетной записи";
}

<header class="text-center">
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline m-3" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-outline-success">Подтвердите выход</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
    <a href="/" class="btn btn-outline-info m-3"><i class="bi bi-arrow-left-circle"></i> Назад</a>
</header>
