.img {
    border-radius: 10px;
    border: 1px solid #FFC34F;
    width: 400px;
    height: 300px;
    flex-shrink: 0;
}

.centered-items {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 10px;
}

.items {
    border-radius: 10px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.2);
    background: #F6F6F6;
    margin: 0 auto;
    margin-top: 1%;
    display: inline-block;
    text-align: left;
    padding-block: 10px;
}

.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}
/*slider*/

.caption-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.caption {
    flex-grow: 1;
    min-width: 0;
}

.actions {
    margin-left: auto;
    white-space: nowrap;
}

.caption, .actions {
    display: inline-block;
}

.name {
    color: #000;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 1.8px;
    padding-top: 10px;
    margin-left: 10px;
    align-self: start;
    order: 0;
}

.a-link {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.69px;
    border-radius: 6px;
    border: 1px solid #FFC34F;
    transition: 0.15s linear;
    text-decoration: none;
    padding-inline: 5px;
    padding-block: 2px;
}

.a-link:hover {
    color: mintcream;
    background-color: #FFC34F; 
    border: 1px solid #FFC34F;
    cursor: pointer;
}

.rating-block {
    display: flex;
    flex-direction: row;
}

.rating-info {
    padding-left: 1%;
}

.rating-count {
    color: #828282;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.48px;
}

.rating-name {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    margin-left: 10px;
}

.container-description {
    max-width: 95%;
}

.description {
    width: 100%;
    margin-left: 3%;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.78px;
    border-radius: 5px;
    background: rgba(255, 232, 119, 0.40);
    padding: 1%;
}

.price {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    margin-left: 10px;
}

.address {
    margin-top: 20px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.69px;
    margin-left: 10px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.contact-block {
    flex-direction: column;
    margin-left: 40px;
}

.contact-head {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.69px;
}

.contact-phone, .contact-email {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.69px;
}

.calendar-hour {
    flex-direction: column;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.69px;
    margin: auto;
    border-radius: 6px;
    padding: 5px;
}

.m-calendar {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-bottom: 1%;
}

.calendar-day {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.69px;
    border-radius: 6px;
    border: 1px solid #FFC34F;
    transition: 0.2s linear;
    display: flex;
    flex: 20%;
    justify-content: center;
    align-items: center;
    margin: 5px 2px 5px 2px;
    height: 40px;
}

.calendar-day:hover {
    color: mintcream;
    background-color: #FFC34F; 
    border: 1px solid #FFC34F;
    font-weight: 600;
}
