.centered-items {
    text-align: center;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 2px solid #FFC34F;
    background: #181717;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    margin-top: 3%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-name-box {
    text-align: center;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 5px;
}

.form-name {
    color: #C0FFE1;
    text-align: center;
        font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    border-bottom: 3px solid #FFE877;
    padding-bottom: 15px;
}

.form-button {
    border-radius: 9px;
    background: #FFE877;
    text-align: center;
        font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.form-button:hover {
    border-radius: 9px;
    background: #e9fc9a;
    text-align: center;
        font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.transition {
    transition: 0.5s;
}

.form-icons {
    word-spacing: 10px;
}

.form-question {
    margin-top: 25px;
    margin-bottom: 10px;
}

.form-question-text {
    color: #C0FFE1;
    text-align: center;
        font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration: underline;
}
