@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity;
@inject NavigationManager Navigation
@inject SignInManager<IdentityUser> siManager
@attribute [RenderModeInteractiveServer]

<AuthorizeView>
    <Authorized>
       
        <a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>
@*         <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
 *@    
        <a href="identity/account/logout" class="btn btn-outline-primary"><i class="bi bi-box-arrow-left"></i> Выход</a>


    </Authorized>
    <NotAuthorized>
        <a href="identity/account/register" class="btn btn-outline-primary">Зарегистрироваться</a>
        <a href="identity/account/login" class="btn btn-outline-primary">Войти</a>        
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
       // siManager.SignOutAsync();
        Navigation.NavigateTo("identity/account/logout");
    }
}
